<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <hackathon_toolbar>
                <enabled>1</enabled>
            </hackathon_toolbar>
            <hackathon_toolbar_collectors>
                <magento>1</magento>
                <messages>1</messages>
                <time>1</time>
            </hackathon_toolbar_collectors>
        </dev>
    </default>
</config>