<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev" translate="label">
            <group id="hackathon_toolbar" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Magento Toolbar</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable the Debugbar on all requests.</comment>
                </field>
            </group>
            <group id="hackathon_toolbar_collectors" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Magento Toolbar Collectors</label>
                <field id="magento" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Magento Information</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Shows the Magento version + current locale.</comment>
                </field>
                <field id="messages" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Messages</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Shows messages, can be aggregated from multiple sources.</comment>
                </field>
                <field id="time" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Timedate</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Can be used to display measurements.</comment>
                </field>
                <field id="event" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Events</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Show all events.</comment>
                </field>
            </group>
        </section>
    </system>
</config>